pip install pandas openpyxl requests beautifulsoup4 python-docx
pip install selenium beautifulsoup4 python-docx pandas openpyxl
https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/
pip install selenium beautifulsoup4 python-docx pandas openpyxl webdriver-manager
